:root {
  --cyan: #06aed5;
  --dark-blue: #086788;
  --yellow: #f0c808;
  --papaya-whip: #fff1d0;
  --red: #dd1c1a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--papaya-whip);
  font-family: "Times New Roman", Times, serif;
  color: var(--yellow);
}

header {
  background-color: var(--dark-blue);
}

h1 {
  font-size: 40px;
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  background-color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul {
  width: 95%;
  padding-top: 15px;
  font-size: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

#score-time-container {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
}

#highscores-container {
  margin-left: 25px;
  margin-bottom: 15px;
}

#highscores-button {
  font-size: 15px;
  background-color: var(--yellow);
  color: var(--red);
}

#highscores-button p {
  margin: 5px;
}

#score {
  margin-right: 50px;
}

#time {
  margin-right: 15px;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container {
  border-radius: 25px;
  height: 500px;
  background-color: var(--dark-blue);
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
}

#question-container {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#button-container {
  padding-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#start-button {
  font-size: 25px;
  background-color: var(--yellow);
  color: var(--red);
}

#start-button p {
  padding: 10px;
}

#anwswer-container {
  width: 100%;
}

#answer-list {
  margin-left: 5%;
  padding-top: 15px;
  list-style: none;
}

#answer-list li {
  padding-top: 25px;
}

#answer-list li button {
  padding: 5px;
  font-size: 20px;
  background-color: var(--yellow);
  color: var(--red);
  display: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}

footer p {
  font-size: 30px;
}
